{% extends 'base.html.twig' %}
 {% block page_entete_normal %}Administration des familles d'articles{% endblock %}
{% block page_entete_petit %}{% endblock %}
 {% block breadcrump %}{% endblock %}



{% block menu %}
    <li>
        <a href="{{ path('homepage') }}">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>
    <li  class="start active ">
        <a href="javascript:;">
            <i class="icon-puzzle"></i>
            <span class="title">Familles d'article</span>
            <span class="selected"  class="arrow "></span>
        </a>
    </li>
    <li>
        <a href="{{ path('article_index') }}">
            <i class="icon-home"></i>
            <span class="title">Articles</span>
            <span class="selected"></span>
        </a>
    </li>
    <li>
        <a href="{{ path('facture_index') }}">
            <i class="icon-home"></i>
            <span class="title">Factures</span>
            <span class="selected"></span>
        </a>
    </li>
    <li>
        <a href="{{ path('tva_index') }}">
            <i class="icon-home"></i>
            <span class="title">TVA</span>
            <span class="selected"></span>
        </a>
    </li>
{% endblock %}